@import url(https://fonts.bunny.net/css?family=alegreya:400);
@import url(https://fonts.bunny.net/css?family=alegreya:700);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: wait;
  width: 100vw;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Alegreya', serif;
  font-size: 1.2rem;
  line-height: 2;
  background: #dedede;
}

a {
  color: #3c3c3c;
  text-decoration: none;
  cursor: pointer;
}

#ground {
  height: 100vh;
  width: 100vw;
  background-image: url(img/asphalt.png);
  background-size: 70%;
  opacity: 1;
  transition: opacity 2s;
  z-index: -1;
  cursor: crosshair;
  display: block;
}

#drive {
  position: absolute;
  top: 60vh;
  left: 60vw;
  width: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  cursor: grab;
  z-index: 888;
  user-select: none;
}

#drive:hover #drive-icon {
  transform: rotate(8deg);
  filter: drop-shadow(8px 8px 6px #00000055);
}

#drive:active #drive-icon {
  transform: rotate(8deg);
  filter: drop-shadow(8px 8px 6px #00000055);
}

#drive.ui-draggable-dragging {
  cursor: grabbing !important;
}

#drive-icon {
  display: block;
  filter: drop-shadow(1px 1px 1px #00000080) drop-shadow(3px 5px 6px #40404080);
  pointer-events: none;
}

#drive-icon img {
  width: 120px;
}

#icon-label {
  background-color: rgba(185, 185, 185, 0.6);
  border-radius: 3.5px;
  width: 100px;
  text-align: center;
  color: black;
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 1.1px;
}

section#content {
  display: none;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  transition: opacity 1s;
}

#header {
  flex: 0 0 auto;
  background: linear-gradient(0deg, rgba(222, 222, 222, 1) 35%, rgba(170, 220, 245, 1) 100%);
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
}

#footer {
  flex: 0 0 auto;
  margin-top: auto;
  background: linear-gradient(180deg, rgba(222, 222, 222, 1) 35%, rgba(170, 220, 245, 1) 100%);
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
}

a#prev,
a#next {
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #3c3c3c;
  text-decoration: none;
}

#header h6,
#footer h6 {
  letter-spacing: 0.05rem;
  margin: 0;
}

#footer h6#page {
  letter-spacing: 0.5rem;
}

#info {
  position: absolute;
  top: 4rem;
  right: 1rem;
  width: 200px;
  padding: 1rem;
  background: #dedede;
  border: #858585 1px solid;
  z-index: 999;
  font-size: 0.85rem;
  line-height: 1.6;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 0s linear 1s;
}

#info.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s linear 0s;
}

#info_btn::before {
  content: "⋯";
  transition: content 1s ease;
}

#info_btn.active::before {
  content: "⋰";
}

#info_btn.active {
  transform: rotate(0deg);
}

#info a {
  text-decoration: underline;
}

article {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-width: 820px;
  width: 100%;
  min-height: calc(100vh - 10rem);
  margin: 2rem auto;
  position: relative;
}

article p {
  margin-top: 0;
  color: #858585;
  font-weight: 700;
}

.paragraph {
  position: absolute;
  width: calc(100% - 2rem);
  height: auto;
  top: 0rem;
  left: 1rem;
  visibility: hidden;
  opacity: 0;
}

a.note {
  vertical-align: super;
  font-size: smaller;
}

section#content .paragraph span {
  display: inline-block;
  transform: translateY(-100vh);
  transition: transform 1320ms ease-in-out 700ms, filter 500ms ease-in-out 0s;
  color: #3c3c3c;
  font-weight: 400;
}

section#content .paragraph span:nth-child(2n+1) {
  transition: transform 1523ms ease-in-out 764ms, filter 500ms ease-in-out 0s;
}

section#content .paragraph span:nth-child(3n+2) {
  transition: transform 1065ms ease-in 1273ms, filter 500ms ease-in-out 0s;
}

section#content .paragraph span:nth-child(5n+7) {
  transition: transform 725ms ease-in-out 962ms, filter 500ms ease-in-out 0s;
}

section#content .paragraph span:nth-child(7n+5) {
  transition: transform 2369ms ease-in-out 595ms, filter 500ms ease-in-out 0s;
  filter: blur(0.25rem);
}

section#content .paragraph span:nth-child(7n+5):hover {
  cursor: grab;
  filter: blur(0.05rem);
}

section#content .paragraph span:nth-child(7n+5):active {
  cursor: grab;
  filter: blur(0.05rem);
}

section#content .paragraph span:nth-child(11n+3) {
  transition: transform 840ms ease-in-out 1927ms, filter 500ms ease-in-out 0s;
}

section#content .paragraph span:nth-child(13n+5) {
  transition: transform 913ms ease-in-out 779ms, filter 500ms ease-in-out 0s;
}

section#content .paragraph.active {
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: 1s ease-in-out 500ms;
}

section#content .paragraph.active span {
  transform: translateY(0);
}

section#content .paragraph.disappear {
  visibility: visible;
  opacity: 0;
  transition: 1500ms ease-in-out 500ms;
}

section#content .paragraph.disappear span {
  transform: translateY(100vh);
}


/* Mobile devices */
@media screen and (max-width: 768px) {

  body {
    font-size: 1.1rem;
    line-height: 1.8;
  }

  #ground {
    background-size: cover;
  }

  #drive {
    width: 80px;
  }

  #drive-icon img {
    width: 80px;
  }

  #icon-label {
    width: 70px;
    font-size: 0.7rem;
  }

  section#content {
    max-width: 100%;
  }
  
}