@font-face {
    font-family: 'nimbus_monoregular';
    src: url('zcon-oblique-webfont.woff2') format('woff2'),
         url('zcon-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nimbus_monoregular';
    src: url('zcon-regular-webfont.woff2') format('woff2'),
         url('zcon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: 'nimbus_monoregular', monospace;
    line-height: 1.5;
    
    /* firefox custom scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #096bff #ffffff00;
}

::selection {
    color: #dedede;
    background: #096bff;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background: #ffffff00; 
}

::-webkit-scrollbar-thumb {
    background: #096bff;
}

::-webkit-scrollbar-thumb:hover {
    background: #09caff;
}

body {
    margin: 0;
    background-color: #dedede;
    color: #3c3c3c;
    overflow-x: hidden;
}

.abovesea {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: #3c3c3c;
    text-decoration: none;
}

a:visited {
    color: #3c3c3c;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.2px;
    text-decoration-color: #096bff;
    cursor: pointer;
}

p {
    margin: 0;
}


/* ------- the sea -------*/

.the-sea {
    max-height: calc(100vh - 12rem);
    overflow: hidden;
    font-size: 1.5rem;
    text-align: center;
    text-align-last: justify;
}

.www::after {
    content: "";
    display: inline-block;
    animation: www 1s steps(2, end) infinite;
}

@keyframes www {
    0% { content: ""; }            
    50% { content: "﹏﹏﹏﹏"; }       
    100% { content: ""; }
}

/* ------- index -------*/

.index {
    display: flex;
    justify-content: space-between;
}

.index summary {
    font-size: 1.25rem;
}

.index summary .sparkle {
    color: #096bff;
    opacity: 0;
}

.index summary:hover .sparkle{
    opacity: 1;   
}

.index details[open] .sparkle{
    opacity: 1;   
}

#home {
    min-width: 9rem;
}

#home a:hover  {
    text-decoration: none;
}

#home .hidden {
    display: none;
}

#home:hover .fish {
    display: none;
    font-style: normal; 
}

#home:hover .hidden {
    display: inline-block;
    font-style: normal;
}

.dots::after {
    content: "";
    color: #096bff;
    font-style: normal; 
    display: inline-block;
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0% { content: ""; }       
    25% { content: "."; }     
    50% { content: ".•"; }    
    75% { content: ".• °"; }   
    100% { content: ""; }
}

.box {
    position: absolute;
    padding: 2rem;
    overflow-y: auto; 
    background-color: #dedede;
    outline: 1.25px solid #3c3c3c;
    /* box-shadow: .5rem .5rem #3c3c3c80; */
    display: flex;
    flex-direction: column;
    z-index: 10;
}

#about-text {
    top: 50%;
    left: 10%;
    width: 30%;
    min-width: 25rem;
    max-height: 30%;
}

#work-list {
    top: 15%;
    right: 20%;
    width: 20%;
    min-width: 18rem;
    max-height: 45%;
}

#work-list details {
    padding-bottom: 1rem;
}

#work-list summary {
    font-size: 1rem;
    padding-bottom: 1rem;
}

#work-list ul {
    list-style: '⤷ ';
    margin: 0;
}

iframe {
    position: absolute;
    margin-bottom: 1rem;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;     
    width: calc(100vw - 12rem);
    height: calc(100vh - 8rem);
    border: 1.25px solid #3c3c3c;
    z-index: 20;
    display: none;
}


/* ------- undersea ------- */

.undersea {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 10000px;
    padding: 1rem 1rem 0.5rem 1rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(#dedede, #096bff 90%);
    font-size: 1rem;
}

#undersea-gallery {
    width: 100%;
    height: calc(100vh - 0.5rem);
    padding-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#096bff;
    color: #dedede;
}

#undersea-gallery a {
    color: #dedede;
    font-size: 1rem;
}

#undersea-gallery a:hover {
    text-decoration-color: #dedede;
}

#lightbox {
    width: 100%;
    height: 60%;
    flex-shrink: 0;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#slide {
    min-width: 50%;
    max-width: 100%;
    min-height: 50%;
    max-height: 100%;
    object-fit: contain;
    /* outline: 1.25px solid #dedede; */
}

/* #slide:hover {
    opacity: 0.8;
} */

.bubbles {
    transform: rotate(180deg);
    font-size: 1.25rem;
    text-align: center;
    text-align-last: justify;
    word-break: break-all;
    overflow: hidden;
}

.ooo::after {
    color: #dedede;
    content: ".";
    font-style: normal; 
    display: inline-block;
    animation: ooo 1s steps(2, end) infinite;
}

@keyframes ooo {
    0% { content: "."; }            
    50% { content: "°"; }       
    100% { content: "."; }
}

#follower {
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    border: 1.5px solid #dedede;
    pointer-events: none;
    z-index: 1000;
    display: none;
    transform: translate(50%, -150%);
    transition: background-color 0.3s ease;
}

/* ------- pages ------- */

.workpage {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.workpage footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

#main {
    width: 100%;
    display: flex;
    gap: 1rem;
}

#info {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#info .title {
    font-weight: 600;
}

#info .title sup {
    font-weight: normal;
}

#corridor {
    position: relative;
    height: calc(100vh - 7rem);
    width: calc(100% - 21rem);
    margin: 0;
    cursor: pointer;
}

.corridor-image {
    position: absolute;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: right top;
    opacity: 0;
    z-index: 0;
}

.corridor-image.active {
    opacity: 1;
    z-index: 1;
}


/* ------- mobile layout ------- */

@media screen and (max-width: 720px) {

    .index {
        flex-direction: column;
        justify-content: flex-start;
    }

    #about-text, #work-list {
        top: 10rem;
        left: 1rem;
        min-width: calc(100vw - 2rem);
        width: calc(100vw - 2rem);
        max-height: calc(100vh - 12rem);
    }

    iframe {
        top: 0;
        left: 0;
        transform: translateX(0);
        overflow-y: auto;     
        width: 100%;
        height: 100%;
        border: none;
    }


    .workpage {
        min-height: 100vh;
        height: 100%;
        padding: 1rem;
    }

    .workpage footer {
        justify-content: center;
    }

    #main {
        flex-direction: column;
        gap: 2rem;
    }

    #info {
        width: 100%;
    }

    #corridor {
        position: relative;
        height: auto;
        width: calc(100vw - 2rem);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .corridor-image {
        position: relative;
        top: auto;
        right: auto;
        opacity: 1;
    }

    #image-counter {
        display: none;
    }

}