* {
    box-sizing: border-box;
    
    /* Firefox (Custom Scrollbar) */
    scrollbar-width: thin;
    scrollbar-color: #096bff #ffffff00;
}

::selection {
    color: #dedede;
    background: #096bff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff00; 
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ffffff00 40%, #096bff 100%);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #ffffff00 40%, #09caff 100%);
    border-radius: 4px; 
}

body {
    height: 100vh;
    margin: 0;
    background-color: #dedede;
    color: #3c3c3c;
    font-family: "Enriqueta", serif;
    overflow-x: hidden;
}

a {
    color: #3c3c3c;
}

a:hover {
    font-style: italic;
}

a:active {
    color: #096bff;
}

a:visited{
    color: #3c3c3c;
}

.index {
    position: fixed;
    top: 1em;
    left: 1em;
}

#home {
    display: block;
    margin: 0 0 0.5em -0.15em;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    mix-blend-mode: difference;
}

#home .fish {
    display: none;
}

#home:hover .default {
    display: none;
    font-style: normal; 
}

#home:hover .fish {
    display: inline-block;
    font-style: normal;
    font-size: 0.75em;
}

.dots::after {
    content: "";
    color: #096bff;
    font-style: normal; 
    display: inline-block;
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0% { content: ""; }       
    25% { content: "."; }     
    50% { content: ".•"; }    
    75% { content: ".• °"; }   
    100% { content: ""; }
}

summary {
    font-size: 0.875em;
    font-weight: 700;
    cursor: pointer;
}

summary:hover {
    font-style: italic;    
}

.work-list {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 20em;
    height: 27em;
    padding: 2em;
    overflow-y: auto; 
    background-color:#fffb7ebb;
    -webkit-backdrop-filter: blur(0.5em);
	backdrop-filter: blur(0.5em);
    outline: 1px solid #9b9b9b;
    display: flex;
    flex-direction: column;
    z-index: 10;
    cursor: grab;
}

.work-list a {
    font-size: 16px;
}

.work-list details {
    padding-bottom: 1em;
}

.work-list ul {
    padding-left: 1.75em;
    list-style: '⤷ ';
    margin: 0;
}

.about {
    position: fixed;
    top: 50%;
    right: 15%;
    width: 32em;
    padding: 2em;
    overflow-y: auto; 
    background-color:#a9fcbfbb;
    -webkit-backdrop-filter: blur(0.5em);
	backdrop-filter: blur(0.5em);
    outline: 1px solid #9b9b9b;
    display: flex;
    flex-direction: column;
    z-index: 10;
    cursor: grab;
}

.about p {
    margin: 0;
}

#email {
 color: #096bff;
}

.work-list:hover, .about:hover {
    box-shadow: 0.25em 0.25em 0.5em #00000080;
}

.container {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#water {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: color-burn;
    transform: translate3d(0,0,0); /* fix mix-blend-mode for safari */
    flex-shrink: 0;
    z-index: -10;
}

.works {
    display: flex;
    flex-flow: column;
    position: relative;
    margin-top: 5em;
    gap: 35em;
    align-items: center;
    background-color: #dedede;
}

.slide {
    position: sticky;
    top: 4em;
    max-width: 60vw;
    max-height: 65vh;
    object-fit: contain;
}

#last-but-not-least {
    width: 100%;
    height: 8em;
    flex-shrink: 0;
}

#see-work {
    position: absolute;
    top: calc(100vh - 4em);
    left: 65%;
    font-size: 16px;
    transform: rotate(15deg);
    transition: transform 0.1s ease-out;
    letter-spacing: 0.05em;
}

.see::before {
    content: "see"; /* Default content */
    animation: swapWord 1s infinite alternate;
}

@keyframes swapWord {
    0%, 50% {
        content: "see";
    }
    51%, 100% {
        content: "ಠ ಠ";
    }
}


/* pages */

.page-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    padding: 1em 0 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.gallery img, .gallery video {
    width: 100%;
}

.square {
    padding: 0 17.5%;
}

.info {
    width:100%;
    font-size: 16px;
    display: flex;
    gap: 2em;
}

.title, .description {
    width: 50%;
}


